<!-- this injects the Stripe JavaScript into the form -->
<% content_for :head do %>
  <%= render 'javascript' %>
<% end %>

<div class="container boxed">
<h1>Post A Job!</h1>

        <h3>Terms and Conditions</h3>
      <p>JuniorSoftwareDeveloper.com is a job board for employers seeking fresh talent and developers seeking junior positions. Submitting this form will ensure a job posting for 30 days. The jobs are listed by date, with the most recent listed first.</p>

        <h3>Cost</h3>
      <p>Inaugural Special! $75.00 nets a 30-day posting, with JuniorSoftwareDeveloper.com reserving the right to partially refund payment for job listings that fail to meet its listing criteria.</p>

        <h3>Listing Criteria</h3>
      <p>JuniorSoftwareDeveloper.com is not liable for the accuracy of information contained within a given job post. Furthermore, it reserves the right to remove posts it deems racist, pornographic, illegal, or otherwise hazardous. Posters must have the right to represent their companies. Posters must be over 18.</p>

</div> <!-- end div container -->
<div class="centered">
  <p>All fields below are required except zip code and state.</p>
</div>
<div class="centered">
   <h2>Company Information</h2>

</div> <!-- end class centered -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :role => 'form', :class => 'payment-form'}) do |f| %>

  <div class='fieldset boxed'>

  <div id='stripe_error' class='alert alert-danger' style='display:none' ></div>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Company name" %> <em>(will be listed)</em><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Company website" %> <em>(will be listed; don't include http://www)</em><br />
    <%= f.text_field :website, placeholder: "e.g., greatdevs.com" %>
  </div>

  <div class="field">
    <%= f.label "Email"%> <em>(won't be listed; contact email for your account, not where candidates should apply. See below)</em> <br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :telephone %> <em>(won't be listed)</em><br />
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  </div> <!-- end fieldset boxed -->

  <div class="centered">

  <h2> Job Post </h2>
  </div>

  <div class="boxed">
  <%= f.fields_for :jobs do |ff| %>
      <div class="field">
        <%= ff.label "Position" %>
        <%= ff.text_field :title, placeholder: "e.g., Rails Developer" %>
      </div>

      <div class="field">
        <%= ff.label 'Job type' %>
        <%= ff.select(:job_type, Job.job_types.keys.map {|job_type| [job_type.titleize,job_type]}) %>
      </div>

      <div class="field">
        <%= ff.label "Apply At Email Address" %> <em>(where the applicant should apply)</em>
        <%= ff.text_field :apply_at_address %>
      </div>

      <div class="field">
        <%= ff.label 'Description' %>
        <%= ff.text_area :description, :rows=>20, :cols=>100, placeholder: %{e.g., Overview: Seeking a junior developer who is passionate about --- ... Qualifications: You should have a strong portfolio ... Responsibilities: For this position, you will ... Benefits: We offer ... etc.} %>
      </div>

      <div class="field">
        <%= ff.label 'Salary' %> <em>('DOE' is default; feel free to change; use this format: $90,000 or $60,000-85,000)</em>
        <%= ff.text_field :salary %>
      </div>

      <div class="field">
        <%= ff.label 'City' %>
        <%= ff.text_field :city %>
      </div>

      <div class="form-group">
        <%= ff.label :state %>
        <%= ff.select(:state, us_states) %>
      </div>

      <div class="form-group">
        <%= ff.label :zip_code %>
        <%= ff.text_field :zip_code %>
      </div>

      <div class="form-group">
        <%= ff.label :country %>
        <%= ff.country_select(:country, priority_countries: ["US", "CA", "MX"]) %>
      </div>

  <% end %>
  </div> <!-- end class boxed -->

  <div class="centered">

  <h2>Payment (securely processed with Stripe)</h2>
  <% if resource.stripe_token %>
      <p>Credit card acceptance is pending.</p>
  <% else %>
  </div>
  <div class="boxed">
      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %><br>
        <%= text_field_tag :card_number, nil, name: nil, class: 'field', data: { stripe: 'number' } %>
      </div>

      <div class="field">
        <%= label_tag :card_code, "Card Security Code" %><br>
        <%= text_field_tag :card_code, nil, name: nil, class: 'field', data: { stripe: 'cvc' } %>
      </div>

      <br />
      <div class="form-group">
        <%= label_tag :card_month, "Card Expiry" %>
        <%= select_month nil, { use_two_digit_numbers: true}, { name: nil, data: {stripe: 'exp-month' } } %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, { name: nil, data: {stripe: 'exp-year' } } %>
      </div>

  <% end %>

    <br />
    <%= f.hidden_field :stripe_token %>

  </div> <!-- end class boxed -->


  <div class="centered">
    <%= f.submit "Post Job", :class => "navbar-btn nav-button wow bounceInRight login"%>
  </div>
<% end %>



