<div class="content-area">
            <div class="container">
                <div class="row page-title text-center wow zoomInDown" data-wow-delay="1s">
                    <h5>Welcome to</h5>
                    <%= image_tag("JuniorSoftwareDeveloper-logo.png", size: "300x100")%>
                    <p>Welcome to the only site that specializes in junior developer positions. Do you specifically want to search for entry-level or junior developer positions? Then you've come to the right place. Fire up a search and start pursuing your dreams!</p>
                </div>
            </div>
</div>
<div class = "centered">
<h2>Search Results</h2>
<% if @jobs.any? %>
<p>Found: <%= @jobs.total_entries %></p>
<p><%= will_paginate @jobs %></p>
<% end %>
</div>

<div class="search-form wow pulse searchcentered" data-wow-delay="0.8s">
<%= form_tag search_jobs_path, :method => :get do %>

        <%= text_field_tag 'search', nil, placeholder: 'Search by job title, location, salary, etc.', size: 50%>
        <%= submit_tag "Search", :class => "navbar-btn nav-button wow bounceInRight login", :data => { :'wow-delay' => '0.8s' }%>
<% end %>
</div>




<% if @jobs.any? %>
<%= render "job_listing", jobs: @jobs %>
<% else %>
<div class="centered">
<p>No results.</p>
</div>
<% end %>