<div class="container-fluid boxed">
  <div class="row">
    <div class="col-md-12">
      <h3>User</h3>
      <p>Name: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
      <p>Website: <%= @user.website %></p>
      <p>Telephone: <%= @user.telephone %></p>
    </div>
  </div>
  <% @user.jobs.each do |job| %>
  <div class="row">
    <div class="col-md-6">
      <p>Job Title: <%= job.title %></p>
      <p>Job Type: <%= job.job_type %></p>
      <p>Posted on: <%= job.created_at %></p>
      <p>Apply at: <%= job.apply_at_address %></p>
      <p>Salary: <%= job.salary %></p>
      <p>City: <%= job.city %></p>
      <p>State: <%= job.state if job.state %></p>
      <p>Zip Code: <%= job.zip_code if job.zip_code %></p>
      <p>Country: <%= job.country %> </p>
    </div>
    <div class="col-md-6">
      <p>Description: <%= job.description %></p>
    </div>
  </div>
  <% end %>

  <div class="row">

  <% if(current_user == @user)%>
  <%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-btn nav-button wow bounceInRight login' %>
  <% end %>

  <% if current_user.admin? %>
  <%= link_to("Delete user", user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'navbar-btn nav-button wow bounceInRight login') unless @user == current_user %>
  <% end %>
  </div>

</div>


