<div class="footer-area">
            <div class="container">
                <div class="row footer">
                    <div class="col-md-4">
                        <div class="single-footer mailing">
                            <p>Would you like to join Junior Software Developer's mailing list? Sign up here!</p>
                            <%= link_to "Subscribe", new_visitor_path, :class => "navbar-btn nav-button wow bounceInRight login" %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-footer">
                            <%= image_tag("JuniorSoftwareDeveloper-logo.png", size: "300x100")%>
                            <p>The premise is simple: Junior Software Developer only lists junior positions. It's the best place for both employers to post and potential employees to search for entry-level and/or junior developer jobs.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-footer">
                            <h4>Useful lnks</h4>
                            <div class="footer-links">
                                <ul class="list-unstyled">
                                    <li><%= link_to "Post a Job", new_user_registration_path %></li>
                                    <li><%=link_to 'About Us', page_path('about')%></li>
                                    <li><%=link_to 'Contact Us', new_visitor_path %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer-copy">
                    <p><span>Copyright 2015</span> | <span>A Ruby on Rails site by <%= link_to("Preston Copeland", "http://threemonthcoder.com", :target => "blank") %> </span> | <span> Template by <%= link_to("Eftakher Alam", "https://dribbble.com/siblu", :target => "blank") %> and <%= link_to("Ohidul Islam", "http://ohidul.me", :target => "blank") %> </span> </p>
                </div>
            </div>
        </div>