<div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">

                  <div class="item"><%= image_tag('slider-image-4.jpg') %></div>
                  <div class="item"><%= image_tag('slider-image-5.jpg') %></div>
                  <div class="item"><%= image_tag("slider-image-6.jpg") %></div>
                  <div class="item"><%= image_tag("slider-image-7.jpg") %></div>
                  <div class="item"><%= image_tag("slider-image-8.jpg") %></div>

                </div>
            </div>
            <div class="container slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <br><br><br><br><br><br><br>
                        <div><h2>Junior Developer Jobs</h2></div>

                        <%= render 'layouts/search_bar' %>

                    </div>
                </div>
            </div>
</div>

<script src="js/owl.carousel.min.js"></script>
<script>
    $(document).ready(function() {

      $("#bg-slider").owlCarousel({

          autoPlay: 3000, //Set AutoPlay to 3 seconds

          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]

      });

    });
</script>